<div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Expenses</h1>
      <a routerLink="/new" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-plus-square fa-sm text-white-50"></i> Add expense
      </a>
</div>

<div class="container mt-5 mb-5">
       <div class="row">
            <div *ngFor="let expense of data" class="col-md-3">
                  <div class="card p-3 mb-2">
                        <div class="d-flex justify-content-between">
                              <div class="d-flex flex-row align-items-center">
                                    <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                                    <div class="ms-2 c-details">
                                       <h6 class="mb-0"></h6> <span> Date issued:  {{ expense.date_issued }} </span>
                                    </div>
                              </div>
                        </div>
                        <div class="mt-5">
                              <h3 class="heading"> {{ expense.issuer_name }}</h3>
                              <h5>Issuer RFC: {{ expense.issuer_rfc }}</h5>
                              <h5>CDFI XML: {{ expense.cfdi_xml }}</h5>
                              <h5>Total amount: {{ expense.total_amount }}</h5>
                        </div>
                  </div>
        </div>
      </div>
</div>
